!!!
%html
  %head
    %title jQuery Example
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'}
    :sass
      h1
        color: purple
    :coffeescript
      jQuery ->
        $('body').append('Hello from jquery')
  %body
    %h1 jQuery Example
    %p
      run
      %code
        tildt
      to execute
